.productos{
    flex: 4;
}
img{
    width: 190px;
    height: 350px;

}
.sepa{
    display: flex;
    position: relative;
    float: left;
    width: 25%;
    margin: 40px;
    height: 780px;
    
  
    
}
.MuiTypography-root.css-adfmws-MuiTypography-root {
height: 100px;

}
@media screen and (min-width: 900px){
    .sepa{
       
        margin: 3% 1%;
        width: 30%;
        height: 780px;
        
    }
}
@media (min-width: 600px)and (max-width:899px){
     
    .sepa{
        margin: 3% 0.5% ;
        width: 30%;
        height: 780px;
    
    }
}

